:root {
  --background-color: #0e180e;
  --background-color-lose: #250000;
  --text-color: #33ff33;
  --gameboard-bg-color: #0f1b0f;
  --gameboard-border-color: #004d00;
  --board-border-color: #003d00;
  --board-bg-color: #0d190d;
  --board-border-color-lose: #660000; /* Darker than hit and sunk colors */
  --board-bg-color-lose: #330000; /* Darker than hit and sunk colors */
  --cell-bg-color: #073707;
  --cell-border-color: #004d00;
  --cell-hit-color: #a62727;
  --cell-highlight-color: #71ff7148;
  --cell-highlight-color-lose: #510101; /* Darker than hit and sunk colors */
  --cell-miss-color: #4d4d4d;
  --cell-ship-color: #009900;
  --cell-sunk-color: #4a0000;
  --scanline-color: rgba(51, 255, 51, 0.1);
  --scanline-color-lose: rgba(191, 34, 34, 0.249);
}

@font-face {
  font-family: "OCRAEXT";
  src: url("../assets/OCRAEXT.ttf") format("truetype");
}

html {
  user-select: none;
  background-color: black;
  font-family: "OCRAEXT", Impact;
}

body {
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  filter: contrast(1.1) brightness(1.2) blur(0.6px);
  animation: fadeIn 1s ease-out;
  box-sizing: border-box;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
      to bottom,
      var(--scanline-color) 0%,
      var(--scanline-color) 0.064rem,
      transparent 0.0625rem,
      transparent 0.3rem
    ),
    radial-gradient(circle, transparent, transparent 70%, rgba(0, 0, 0, 0.5));
  animation: scanlines 0.5s infinite;
  pointer-events: none;
  z-index: 9998;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../assets/bezel.png") center no-repeat;
  background-size: 100% 100%;
  pointer-events: none;
  z-index: 9999;
}

@keyframes scanlines {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 4px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#menu-ascii {
  font-family: "OCRAEXT";
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  color: var(--text-color);
}

#menu-ascii > * {
  margin: 0;
}

#menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

#menu-buttons button {
  font-family: "OCRAEXT", Impact;
  background-color: var(--board-bg-color);
  color: var(--text-color);
  border: none;
  border: 0.25rem solid var(--board-border-color);
  border-radius: 0.6rem;
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

#menu-buttons button:hover {
  background-color: var(--cell-highlight-color);
  transform: scale(1.1);
}

#gameboards {
  display: none;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: var(--gameboard-bg-color);
  border-radius: 0.8rem;
  border: 0.25rem solid var(--gameboard-border-color);
  position: relative;
  image-rendering: pixelated;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.board-container {
  display: none;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

.board-label {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--text-color);
}

.board {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  gap: 0.2rem;
  box-sizing: border-box;
  border: 0.25rem solid var(--board-border-color);
  padding: 0.25rem;
  background-color: var(--board-bg-color);
  border-radius: 0.4rem;
  transform: rotate(-90deg);
}

.board > * {
  transform: rotate(90deg);
}

.cell {
  padding: 0.2rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--cell-bg-color);
  border: 0.08rem solid var(--cell-border-color);
  transition: all 0.1s ease;
}

#p2-board .cell {
  pointer-events: auto;
}

#p2-board:hover {
  cursor: url("../assets/cursor-target.png"), auto;
}

#p2-board .cell:hover {
  filter: brightness(1.5);
}

.cell.hit {
  background-color: var(--cell-hit-color);
}

.cell.miss {
  background-color: var(--cell-miss-color);
}

.cell.ship {
  background-color: var(--cell-ship-color);
}

.cell.sunk {
  background-color: var(--cell-sunk-color);
}

.board-button {
  background-color: var(--board-bg-color);
  color: var(--text-color);
  border: none;
  border: 0.25rem solid var(--board-border-color);
  border-radius: 0.6rem;
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.board-button:hover {
  background-color: var(--cell-highlight-color);
  transform: scale(1.1);
}

.board-button:active {
  transform: scale(0.9);
}

#ship-placement {
  display: flex;
  flex-direction: column;
  width: 17rem;
  height: 35rem;
  border: 0.25rem solid var(--board-border-color);
  border-radius: 0.6rem;
  padding: 1.2rem 0.6rem;
  gap: 0.6rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.ship-placement-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem;
  background-color: var(--board-bg-color);
  border-radius: 0.6rem;
  border: 0.25rem solid var(--board-border-color);
  margin-bottom: 1.2rem;
}

.ship-placement-header .board-label {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--text-color);
}

.ship-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.6rem;
  background-color: var(--board-bg-color);
  border-radius: 0.6rem;
  border: 0.25rem solid var(--board-border-color);
}

.ship-label {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 0.6rem;
  text-align: center;
}

.ship-draggable {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.ship-draggable:hover {
  transform: scale(1.05);
  cursor: move;
}

.ship-draggable:active {
  opacity: 0.2;
  cursor: move;
}

.ship-part {
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--cell-ship-color);
  border: 0.08rem solid var(--cell-border-color);
  border-radius: 0.25rem;
}

.highlight {
  background-color: var(--cell-highlight-color);
}

.placed {
  pointer-events: none;
  opacity: 0.2;
}

#title {
  display: none;
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 1.2rem;
}

#deploy-button {
  display: none;
  margin-top: 1.2rem;
  font-family: "OCRAEXT", Impact;
  background-color: var(--board-bg-color);
  color: var(--text-color);
  border: none;
  border: 0.25rem solid var(--board-border-color);
  border-radius: 0.6rem;
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

#deploy-button:hover {
  background-color: var(--cell-highlight-color);
  transform: scale(1.1);
}

#settings-modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9997;
}

.modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--board-bg-color);
  border: 0.25rem solid var(--board-border-color);
  border-radius: 0.6rem;
  padding: 2rem;
  width: 80%;
  max-width: 500px;
  box-sizing: border-box;
  text-align: left;
  color: var(--text-color);
  animation: fadeIn 0.5s ease-out;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.6rem;
  width: 1.6rem;
  color: var(--text-color);
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--board-bg-color);
  border: 0.25rem solid var(--board-border-color);
  border-radius: 0.6rem;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.close-button:hover,
.close-button:focus {
  cursor: grab;
  background-color: var(--cell-highlight-color);
  transform: scale(1.1);
}

.close-button:active {
  transform: scale(0.9);
}

.settings-option {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-size: 1.4rem;
  color: var(--text-color);
  user-select: none;
}

.settings-option input[type="checkbox"] {
  display: none;
}

.settings-option input[type="checkbox"] + label {
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  font-size: 1.4rem;
}

.settings-option input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4rem;
  height: 1.4rem;
  border: 2px solid var(--text-color);
  border-radius: 0.3rem;
  background-color: var(--board-bg-color);
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.settings-option input[type="checkbox"]:checked + label::before {
  background-color: var(--text-color);
  border-color: var(--cell-highlight-color);
}

.settings-option input[type="checkbox"]:checked + label::after {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: var(--board-bg-color);
}

.settings-option input[type="checkbox"]:hover + label::before {
  background-color: var(--cell-highlight-color);
}

#save-settings-button {
  font-family: "OCRAEXT", Impact;
  background-color: var(--board-bg-color);
  color: var(--text-color);
  border: 0.25rem solid var(--board-border-color);
  border-radius: 0.6rem;
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  margin-top: 1.5rem;
}

#save-settings-button:hover {
  background-color: var(--cell-highlight-color);
  transform: scale(1.1);
}

#save-settings-button:active {
  transform: scale(0.9);
}

#game-over-screen {
  display: none;
  flex-direction: column;
  font-family: "OCRAEXT";
  align-items: center;
  justify-content: center;
}

.game-over-message {
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  text-align: left; /* Ensure text alignment */
  white-space: pre; /* Preserve whitespace */
  display: none;
  font-family: "OCRAEXT";
  font-size: 1.1rem;
  color: var(--text-color);
}

#game-lose-message {
  color: var(--cell-hit-color);
}

#back-to-menu-button {
  width: fit-content;
  font-family: "OCRAEXT", Impact;
  background-color: var(--board-bg-color);
  color: var(--text-color);
  border: 0.25rem solid var(--board-border-color);
  border-radius: 0.6rem;
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  margin-top: 1.5rem;
}

#back-to-menu-button:hover {
  background-color: var(--cell-highlight-color);
  transform: scale(1.1);
}
