:root {
  --background-color: #091009;
  --text-color: #33ff33;
  --gameboard-bg-color: #0f1b0f;
  --gameboard-border-color: #004d00;
  --board-border-color: #003d00;
  --board-bg-color: #0d190d;
  --cell-bg-color: #073707;
  --cell-border-color: #004d00;
  --cell-hit-color: #a62727;
  --cell-miss-color: #4d4d4d;
  --cell-ship-color: #009900;
  --scanline-color: rgba(51, 255, 51, 0.1);
}

html {
  background-color: black;
}

body {
  flex-direction: column;
  font-family: "Source Code Pro", monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  filter: contrast(1.1) brightness(1.2) blur(0.5px);
  animation: fadeIn 1s ease-out;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
    to bottom,
    var(--scanline-color) 0%,
    var(--scanline-color) 0.064rem,
    transparent 0.0625rem,
    transparent 0.3rem
  );
  animation: scanlines 0.5s infinite;
  pointer-events: none;
  z-index: 9998;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../assets/bezel.png") center no-repeat;
  background-size: 100% 100%;
  pointer-events: none;
  z-index: 9999;
}

@keyframes scanlines {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 4px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#gameboards {
  display: flex;
  gap: 1.35rem;
  padding: 1.35rem;
  background-color: var(--gameboard-bg-color);
  border-radius: 0.72rem;
  border: 0.225rem solid var(--gameboard-border-color);
  position: relative;
  image-rendering: pixelated;
}

.board-container {
  display: flex;
  flex-direction: column;
  gap: 0.72rem;
  align-items: center;
}

.board-label {
  font-size: 1.08rem;
  font-weight: bold;
  color: var(--text-color);
}

.board {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  gap: 0.18rem;
  box-sizing: border-box;
  border: 0.225rem solid var(--board-border-color);
  padding: 0.225rem;
  background-color: var(--board-bg-color);
  border-radius: 0.36rem;
  transform: rotate(-90deg);
}

.board > * {
  transform: rotate(90deg);
}

.cell {
  padding: 0.18rem;
  width: 2.25rem;
  height: 2.25rem;
  background-color: var(--cell-bg-color);
  border: 0.072rem solid var(--cell-border-color);
  transition: all 0.3s ease;
  pointer-events: none;
}

#p2-board .cell {
  pointer-events: auto;
  cursor: crosshair;
}

#p2-board .cell:hover {
  filter: brightness(1.2);
}

.cell.hit {
  background-color: var(--cell-hit-color);
}

.cell.miss {
  background-color: var(--cell-miss-color);
}

.cell.ship {
  background-color: var(--cell-ship-color);
}
